node_modules
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/images/giftset-gift.png
build/images/header-bg.jpg
build/images/slider1-1-morning.jpg
build/images/slider1-2-origin.jpg
build/images/slider1-3-everyday.jpg
build/images/slider1-4-bold.jpg
build/images/slider1-5-honey.jpg
build/images/slider1-6-natural.jpg
build/images/slider2-1-bold.jpg
build/images/slider2-2-everyday.jpg
build/images/slider2-3-honey.jpg
build/images/slider2-4-natural.jpg
build/images/icons/coffee-icon-1.svg
build/images/icons/coffee-icon-2.svg
build/images/icons/coffee-icon-3.svg
build/images/icons/coffee-icon-4.svg
build/images/icons/giftset-coffee-beans.svg
build/images/icons/giftset-mountain.svg
build/images/icons/header-button-play.svg
build/images/icons/header-cart.svg
build/images/icons/revo-icon.svg
build/images/icons/slider-arrow-left.svg
build/images/icons/slider-arrow-right.svg
build/static/css/main.5adf9bcd.css
build/static/css/main.5adf9bcd.css.map
build/static/js/453.ed3810f9.chunk.js
build/static/js/453.ed3810f9.chunk.js.map
build/static/js/main.2233ca4b.js
build/static/js/main.2233ca4b.js.LICENSE.txt
build/static/js/main.2233ca4b.js.map
build/static/media/header-bg.de29d7f27475fbc81152.jpg
build/static/media/Montserrat-VariableFont_wght.29d23d38bf1ff3e03263.woff2
build/static/media/Nunito-VariableFont_wght.bcfaf5e91f47a2ab2f96.woff2
