@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.woff2') 
         format('woff2'),
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.woff2') 
         format('woff2'),
}

@import './reset.css';
@import './vars.css';
@import './utils.css';
@import './coffee.css';
@import './taste.css';
@import './giftset.css';
@import './footer.css';

html {
    font-size: 16px;
}
body {
    font: 300 1rem / 1.3333 'Nunito';
    color: #151d28;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.main-title,
.title {
    font-family: 'Montserrat';
    font-weight: 900;
}

.slogan,
.title,
.main-title {
    color: #415167;
}
.slogan,
.title {
    text-align: center;
}

.main-title {
    font-size: calc(3rem + 0.375 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2963;
}
.title {
    font-size: calc(1.25rem + 0.25 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.3333;
}
.sub-title {
    font-size: calc(1.25rem + 0.25 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.6667;
    font-weight: 700;
    color: #232c38;
}
.slogan {
    margin: 0 auto 6px;
    display: inline-block;
    width: 100%;
    font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2;
    font-weight: 600;
}

.price {
    font-weight: 600;
    font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2;
    color: var(--camel-color);
}
.button {
    padding: 7px 16px;
}
.button:hover {
    color: #f9fbff;
    background: var(--camel-color);
    border-radius: 19px;
}

/*  * ===== header ===== 

.header {
    margin-bottom: 87px;
    min-height: 100vh;
}

.header .container {
    position: relative;
}

.header__wrapper {
    margin: 0 auto;
    padding: 72px 15px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}
.header__nav {
    max-width: 1070px;
    justify-content: space-between;
}
.header__logo {
    max-width: 110px;
    position: relative;
    z-index: 50;
}

.header__row {
    display: grid;
    grid-template-columns: 0.555fr 1fr 0.465fr;
    min-height: inherit;
}

.header__body {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.header__content {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(30%, -95%);
    z-index: 9;
}
.header__main-title {
    padding-bottom: 64px;
    max-width: 486px;
    position: relative;
    z-index: 10;
}
.header_beige-bg {
    padding: 10px 15px;
    background: var(--camel-color);
    color: #fff;
}

.header__bg {
    background: rgba(0, 0, 0, 0.25) url(../../public/images/header-bg.jpg) center / cover no-repeat;
    position: relative;
}
.header__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 102px;
}

.sidebar {
    background: var(--dark-blue-color);
}
.sidebar__list {
    margin: auto;
    padding: 0 15px 0 56px;
    height: 100%;
}
.sidebar__item:not(:last-child) {
    margin-bottom: 30px;
}
.sidebar__link {
    color: var(--light-gray-color);
    font-weight: 300;
    transition: 0.3s linear;
}
.sidebar__link:hover {
    font-weight: 700;
}
*/