@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.woff2') 
         format('woff2'),
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.woff2') 
         format('woff2'),
}

@import './reset.css';
@import './vars.css';
@import './utils.css';
@import './footer.css';

html {
    font-size: 16px;
}
body {
    font: 300 1rem / 1.3333 'Nunito';
    color: #151d28;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.main-title,
.title {
    font-family: 'Montserrat';
    font-weight: 900;
}

.slogan,
.title,
.main-title {
    color: #415167;
}
.slogan,
.title {
    text-align: center;
}

.main-title {
    font-size: calc(3rem + 0.375 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2963;
}
.title {
    font-size: calc(1.25rem + 0.25 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.3333;
}
.sub-title {
    font-size: calc(1.25rem + 0.25 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.6667;
    font-weight: 700;
    color: #232c38;
}
.slogan {
    margin: 0 auto 6px;
    display: inline-block;
    width: 100%;
    font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2;
    font-weight: 600;
}

.price {
    font-weight: 600;
    font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / (87.5 - 20)));
    line-height: 1.2;
    color: var(--camel-color);
}
.button {
    padding: 7px 16px;
    color: var(--dark-blue-color);
    text-wrap: nowrap;
}
.button:hover {
    color: #f9fbff;
    background: var(--camel-color);
    border-radius: 19px;
}